<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/fragment::head}"></head>
<body>

<header th:replace="~{fragments/fragment::navigation-bar}"></header>
<div class="row">
    <div class="col-md-2"></div>
    <main class="jumbotron text-center rounded col-md-8 align-self-center">
        <div class="justify-content-center">
            <h1>Add Company</h1>
        </div>
        <form th:object="${companyAddDto}" th:action="@{/companies/add}" th:method="POST" class="m-md-auto w-50 text-center">
            <div class="form-group">
                <label for="name">Name</label>
                <input th:field="*{name}" th:errorclass="bg-danger" type="text" class="form-control text-center" id="name" aria-describedby="nameHelp"
                       name="name"/>
                <small th:if="${#fields.errors('name')}" th:errors="*{name}">Error message</small>
            </div>

            <div class="form-group">
                <label for="town">Town</label>
                <input th:field="*{town}" th:errorclass="bg-danger" type="text" class="form-control text-center" id="town"
                       aria-describedby="town"
                       name="town"/>
                <small th:if="${#fields.errors('town')}" th:errors="*{town}">Error message</small>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input th:field="*{description}" th:errorclass="bg-danger" type="text" class="form-control text-center"
                       id="description" aria-describedby="description" name="description"/>
                <small th:if="${#fields.errors('description')}" th:errors="*{description}">Error message</small>
            </div>

            <div class="form-group">
                <label for="budget">Budget</label>
                <input th:fields="*{budget}" th:errorclass="bg-danger" type="number" class="form-control text-center"
                       id="budget" aria-describedby="budget" name="budget"/>
                <small th:if="${#fields.errors('budget')}" th:errors="*{budget}">Budget</small>
            </div>

            <button type="submit" class="btn btn-secondary">Add Company</button>
        </form>
    </main>
</div>

<footer th:replace="~{fragments/fragment::footer}"></footer>
</body>
</html>